.recipe-card__container {
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  max-width: 15rem;
}

.recipe-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.recipe-card * {
  background-color: white;
}
