.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.filters-section {
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  border-radius: 40px;
}

.filters {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.filters__group {
  background-color: white;
}

.filters__group label {
  background-color: white;
}

.filters__group select {
  background-color: white;
}

.filters__actions {
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.filters__actions button {
  background-color: var(--main-color);
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.cards__container {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
