*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-color);
  font-family: var(--main-text-font);
  background-color: var(--background-color);
}

button {
  background-color: var(--main-color);
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

body {
  margin: 10px;
}
